<div class="bg-black text-white min-vh-100">
  <div class="d-flex justify-content-center w-100 pt-5">
    <form [formGroup]="priceForm">
      <input
        type="number"
        formControlName="price"
        placeholder="Cena $"
        class="form-control"
      />
    </form>
    <button (click)="calculate(priceForm)" class="btn btn-success ms-3">
      Przelicz
    </button>
  </div>

  <div class="d-flex justify-content-center w-100 mt-5">
    <h1>
      {{ ceilPriceInPLN() }}0
      <img src="./assets/arrow.jpg" class="arrow mx-3" />
      {{ showFinalPrice() }}0
    </h1>
  </div>

  <div class="mt-5">
    <div class=" text-center">
      <button
        (click)="showSetting()"
        class="mt-5 btn btn-primary"
      >
        USTAWIENIA
      </button
      >
    </div>

    <div class="d-flex justify-content-center w-100 mt-3">
      <div *ngIf="isShowSettings">
        <div class="d-flex justify-content-between">
          Marża: {{ getMarkUp() }}
          <span class="ms-5 mb-2 text-danger" (click)="showMarkUpSettings()"
            >Zmień</span
          >
          <br />
        </div>
        <div class="d-flex justify-content-between">
          RABAT: {{ getDiscount() }}
          <span
            class="ms-5 mb-2 text-danger me-3"
            (click)="showDiscountSettings()"
            >Zmień</span
          >
          <br />
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <div
        *ngIf="isDiscountSettings"
        class="d-flex justify-content-center w-100"
      >
        <button (click)="setDiscount(0.9)" class="me-2 btn btn-primary">10%</button>
        <button (click)="setDiscount(0.8)" class="me-2 btn btn-primary">20%</button>
        <button (click)="setDiscount(0.7)" class="me-2 btn btn-primary">30%</button>
        <button (click)="setDiscount(0.6)" class="me-2 btn btn-primary">40%</button>
        <button (click)="setDiscount(0.5)" class="me-2 btn btn-primary">50%</button>
      </div>

      <div
        *ngIf="isMarkUpSettings"
        class="d-flex justify-content-center w-100 mt-2"
      >
        <button (click)="setMarkUp(2)" class="me-2 btn btn-primary">2x</button>
        <button (click)="setMarkUp(2.5)" class="me-2 btn btn-primary">2.5x</button>
        <button (click)="setMarkUp(3)" class="me-2 btn btn-primary">3x</button>
        <button (click)="setMarkUp(3.5)" class="me-2 btn btn-primary">3.5x</button>
        <button (click)="setMarkUp(4)" class="me-2 btn btn-primary">4x</button>
        <button (click)="setMarkUp(4.5)" class="me-2 btn btn-primary">4.5x</button>
        <button (click)="setMarkUp(5)" class="me-2 btn btn-primary">5x</button>
        <button (click)="setMarkUp(5.5)" class="me-2 btn btn-primary">5.5x</button>
      </div>
    </div>
  </div>
</div>
